<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyFlaskApp</title>

    <link rel="shortcut icon" href="https://keenthemes.com/metronic/themes/metronic/theme/html/demo3/dist/assets/media/logos/favicon.ico" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="https://keenthemes.com/metronic/themes/metronic/theme/html/demo3/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css?v=7.0.5" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->

    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="https://keenthemes.com/metronic/themes/metronic/theme/html/demo3/dist/assets/plugins/global/plugins.bundle.css?v=7.0.5" rel="stylesheet" type="text/css" />
    <link href="https://keenthemes.com/metronic/themes/metronic/theme/html/demo3/dist/assets/plugins/custom/prismjs/prismjs.bundle.css?v=7.0.5" rel="stylesheet" type="text/css" />
    <link href="https://keenthemes.com/metronic/themes/metronic/theme/html/demo3/dist/assets/css/style.bundle.css?v=7.0.5" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body id="kt_body" class="header-mobile-fixed subheader-enabled aside-enabled aside-fixed aside-secondary-enabled page-loading">

    {% include 'includes/navbar.html' %}
    <div class="container">
        {% include 'includes/message.html' %}
        {% block body %}{% endblock %}
    </div>

</body>
</html>